/* BACKGROUND  OF INDEX*/
.circles div{
    border-width: 5px;
    border-style: solid;
    position: absolute;
    z-index: -1;
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.circles div:nth-of-type(2n){
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    animation-duration: 3s;
}
.circles div:nth-of-type(2n+1){
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    animation-duration: 4s;
}
.circles div:nth-of-type(3n-2){
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    animation-duration: 5s;
}

/* BACKGROUND  OF CONTACT*/
.square div{
    border-width: 5px;
    border-style: solid;
    position: absolute;
    z-index: -1;
    animation-iteration-count: infinite;
}
.square div:nth-of-type(2n){
    width: 20vw;
    height: 20vw;
    animation-name: spin-right;
    animation-duration: 3s;
}
.square div:nth-of-type(2n+1){
    width: 50vw;
    height: 50vw;
    animation-name: spin-left;
    animation-duration: 4s;
}
.square div:nth-of-type(3n-2){
    width: 30vw;
    height: 30vw;
    animation-name: spin-right;
    animation-duration: 6s;
}

/* MEDIA QUERIES */
@media screen and (min-width:501px){
    .circles div:nth-of-type(2n){
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
    }
    .circles div:nth-of-type(2n+1){
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
    }
    .circles div:nth-of-type(3n-2){
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
    }
}

/* KEYFRAME */
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}
@keyframes spin-right {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(90deg);
    }
}
@keyframes spin-left {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(-90deg);
    }
}
/* LANGUAGE */
.eng{
    display: none;
}