section:not(.circles){
    min-height: 95vh;
}

.rectangle-border{
    width: 250px;
    height: 190px;
    border-width: 5px;
    border-style: solid;
}

@media screen and (min-height:800px) {
    section:not(.circles){
        min-height: 700px;
    }
}