@import url(normal.css);
@import url(background-animated.css);

span *{
    display: inline-block;
}
body{
    overflow: hidden;
}
p{
    font-size: 1.1rem;
}
span p{
    margin-right: 5px;
}

/* COPY BUTTON */
button{
    height: 25px;
    border: solid 3px rgb(143, 236, 229);
    background-color: #fff;
    font-family: 'Rubik';
    z-index: 1;
    position: relative;
    transition: ease 0.2s;
}
button::after,
button::before{
    position: absolute;
    content: "";
    z-index: -1;
}
button:hover{
    box-shadow: 5px 5px 0px rgb(143, 236, 229);
}

/* LINKS */
h2:not(h2:first-of-type){
    display: inline-block;
}
svg{
    margin-left: 15px;
    transform: translateY(20%);
}


/* FOOTER UNDERLINE */
h2:nth-of-type(2):hover{
    color: rgb(55, 124, 118);
    transition: ease 0.2s;
}
h2:nth-of-type(1):hover{
    color: rgb(45, 186, 190);
    transition: ease 0.2s;
}
h2:nth-of-type(3):hover{
    color: rgb(36, 17, 95);
    transition: ease 0.2s;
}
footer a:last-of-type{
    text-decoration: underline;
    color: rgb(157, 204, 96);
}