@import url(normal.css);
@import url(big-border.css);
@import url(background-animated.css);

/* HEADER */
header{
    width: 240px;
    max-width: 1300px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
header p{
    align-self: flex-end;
}

/* MAIN & FOOTER */
main,footer{
    width: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* REWRITE OVER normal.css */
    height: auto;
    writing-mode: horizontal-tb;
    border: 0;
    position: inherit;
    right: inherit;
    max-width: inherit;
}

/* FOOTER ON DESKTOP */
footer{
    margin-bottom: 50px;
    background-color: inherit;
}
nav{
    width: 80%;
    height: 80%;
    justify-content: space-between;
}

/* LOGO */
.linkedin:hover{
    fill: #0A66C2;
    display: inline;
    margin-right: 5px;
}
.github:hover{
    fill: #808080;
    display: inline;
    margin-left: 5px;
}


/* -- FOR ABOUT ON MOBILE -- */
/* CV PDF */
.dl{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.dl img{
    width: auto;
    height: 20px;
    margin-left: 8px;
    transform: translateY(20%);
}
.dl a:hover{
    text-decoration: underline;
}

/* SKILLS */
ul{
    display: inline-block;
    font-family: 'Rubik';
    list-style-type: none;
    padding: 0;
}
.contains-ul{
    display: inline-block;
    justify-content: space-between;
}
.star,.no-star{
    width: 9px;
    height: 9px;
    border: 2px solid rgb(255, 241, 113);
    display: inline-block;
    margin-right: 5px;
}
.star{
    background-color: rgb(255, 241, 113);
}


/* CHARACTERS */
p{
    line-height: 1.5;
}
li{
    line-height: 1.8;
}
h1{
    font-size: 3rem;
    /* REWRITE OVER normal.css */
    height: auto;
}


/* DESKTOP & MOBILE */
.desktop{
    display: none;
}

/* MEDIA QUERIES*/
@media screen and (min-width:501px){
    /* DESKTOP & MOBILE */
    .phone{
        display: none;
    }
    .desktop{
        display: initial;
    }
    header{
        width: 70%;
    }
    nav{ 
        /* REWRITE OVER normal.css */
        height: auto;
        width: 150px;
        align-self: flex-end;
        line-height: 1.4;
    }
}

/* KEYFRAME */
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}