*,
::after,
::before {
    box-sizing: border-box;
}
body{
    margin: 0;
}

/* THE HEADERS */
.header-center{
    border-bottom: black 5px solid;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: white;
}
.header-left{
    height: 100%;
    width: 20%;
    max-width: 200px;
    line-height: 0.8;
    /* padding-top: 10px; */
    position: fixed;
    left: 0;
    background-color: white;
    border-right: 5px solid black;
    text-align: center;
}

/* POSITION OF <A> */
a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease-out;
}


/* ALSO THE <NAV> */
footer{
    height: 100%;
    writing-mode: vertical-rl;
    width: 15%;
    border-left: black 5px solid;
    position: fixed;
    right: 0;
    max-width: 120px;
    background-color: white;
}
footer a:nth-of-type(1):hover,
header a:nth-of-type(1):hover{
    color: #f18a8a;
}
footer a:nth-of-type(2):hover,
header a:nth-of-type(2):hover{
    color: rgb(116, 179, 173);
}
footer a:nth-of-type(3):hover,
header a:nth-of-type(3):hover{
    color: rgb(157, 204, 96);
}

/* TO CENTER THE CHILDREN */
.center-flex{
    width: 100%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

/* FOR CONTAINERS*/
.container{
    display: flex;
    flex-direction: row;
}
main{
    width: 60%;
    margin: auto;
    margin-top: 150px;
    max-width: 1000px;
}

/* CHARACTERS */
h3{
    font-family: 'Rubik Mono One','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-size: 1.5rem;
    font-family: 'Rubik Mono One','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    height: 100%;
    font-family: 'Rubik Mono One','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.25rem;
}
a{
    font-family: 'Rubik','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-family: 'Rubik Medium','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* LOGO */
.linkedin:hover{
    fill: #0A66C2;
    display: inline;
    margin-right: 5px;
}
.github:hover{
    fill: #808080;
    display: inline;
}

/* MEDIA QUERIES */
@media screen and (min-width:501px) {
    p{
        font-weight: bold;
    }
    main{
        padding-left: 5%;      
    }
}

/* LANGUAGE */
.language{
    position: relative;
    z-index: 10;
}
.language span{
    position: fixed;
    top: 0;
    right: 0;
}
.language button{
    border: #000 3px solid;
    width: fit-content;
    background-color: #fff;
    font-family: 'Rubik';
    transition: ease 0.2s;
}
.language button:hover{
    border: #0A66C2 3px solid;
    background-color: #0A66C2;
    color: #fff;
}
.eng{
    display: none;
}

/* FONT */
@font-face {
    font-family: "Rubik Mono One";
    src: url(../fonts/RubikMonoOne.woff) format("woff");
}
@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-bold.woff) format("woff");
}
@font-face {
    font-family: "Rubik Medium";
    src: url(../fonts/Rubik.woff) format("woff");
}